@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.b-100 {
  border-radius: 100px;

}

.locked-inner {
  padding: 10px 20px;
  box-shadow: inset -8px -8px 18px rgba(255, 255, 255, .7),
    inset -8px -8px 16px rgba(255, 255, 255, .5),
    inset 8px 8px 8px rgba(255, 255, 255, .075),
    inset 8px 8px 16px rgba(0, 0, 0, .15);
}

.bigbtn {
  font-family: 'PT Sans', sans-serif;
  padding: 10px 30px;
  /* background: #efefef; */
  border: none;
  border-radius: 20px;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.bigbtn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.bigbtn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}



.logout {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.logout:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.logout:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}

/*  */
.logout-active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);

}

.logout-active:hover {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}